// Place all the styles related to the api/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-bar {
    border-bottom: lightgrey solid thin;
    size: 10px;
    font-weight: bold;
}

.category-bar p{
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 15px;
} 

.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.product-list li {
    width: 20vw;
    border: .1px solid lightgrey;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    margin: 5px;
}

.product-index-name, .product-index-name:visited, .product-index-price, .product-index-price:visited{
    color: black;
    text-decoration: none;
}   

.product-index-price {
    align-self: flex-start;
    margin-left: 3px;
}


.product-index-name:hover {
    color: orange
}

.product-index-image {
    max-width: 100%;
    width: auto;
    max-height: 25vh;
    background-color: lightgrey;
}

.product-show-section-1 {
    display: flex;
    flex-direction: row;
    border-bottom: thin solid grey;
    padding: 20px 20px;
    
}

.fake-link {
    color: blue;
}
.fake-link:hover {
    color: orangered
}



.main-product-subsection {
    border-bottom: thin solid lightgrey;
    width: 100%;
}



.product-show-image {
    margin-left: 30px;
    width: auto;
    height: 30vw;
}

.main-product-section {
    width: 30vw;
    margin-left: 20px;
    margin-right: 20px;
}

.product-purchase-window {
    display: flex;
    flex-direction: column;
    border: lightgrey thin solid;
    min-width: 200px;
    border-radius: 10px;
    padding: 10px;
}

.product-purchase-window-returns {
    margin-top: -25px;
}

.product-purchase-window-delivery-info p{
    margin: 5px 5px;
}

.product-price {
    display: flex;
    font-size: 13px;
    flex-direction: row;
    align-items:flex-start;
}

.product-price-dollars {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}

.main-product-section ul {
    padding-left: 0;
}

.image-placeholder {
    width: 90%;
    // width: 200px;
    height: 200px;
    background-color: gray;
}

.product-description, .product-detail {
    margin-left: 20px;
}

.product-description ul {
    list-style: none;
}

.product-reviews {
    display: flex;
    flex-direction: row;
    margin-left: 20px;    
}

.product-reviews-left, .product-reviews-right {
    display: flex;
    flex-direction: column;
}

.add-to-cart-button, .buy-now-button {
    text-align: center;
    max-height: 30px;
    width: 100%;
    padding: 8px 20px;
    margin-top: 30px;
    text-decoration:none;
    border-radius: 20px;
    cursor:pointer;
    box-shadow: .5px .5px .5px black;

}

.add-to-cart-button {
    background-color: #ffd814;
    border: .5px #fcd200 solid;
}

.buy-now-button {
    background-color: #ffa41c;
    border: .5px #ff8f00 solid;

}

#product-quantity {
    width: 70px;
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
}

.product-detail div{
    display: flex;
}

.product-detail ul {
    list-style: none;
    padding-left: 0px;
}

.product-detail ul li {
    border-bottom: lightgrey solid;
    padding-left: 20px;
    min-height: 34px;
    width: 230px;
    padding: 10px;
}

.product-detail ul:first-child {
    background-color: #f3f3f3;

}


// #product-quantity:focus {
//     border-color: rgb(179, 246, 231) !important;
// }