// Place all the styles related to the api/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-bar {
    border-bottom: lightgrey solid thin;
    size: 10px;
    font-weight: bold;
}

.category-bar p{
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 15px;
} 

.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.product-list li {
    width: 20vw;
    border: .1px solid lightgrey;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    margin: 5px;
}

.product-index-name, .product-index-name:visited, .product-index-price, .product-index-price:visited{
    color: black;
    text-decoration: none;
}   

.product-index-price {
    align-self: flex-start;
    margin-left: 3px;
}


.product-index-name:hover {
    color: orange
}

.product-index-image {
    width: auto;
    height: 25vh;
    background-color: lightgrey;
}

.product-show-section-1 {
    display: flex;
    flex-direction: row;
    border-bottom: thin solid grey
    
}



.main-product-subsection {
    border-bottom: thin solid lightgrey;
    width: 100%;
}



.product-show-image {
    margin-left: 30px;
    width: auto;
    height: 30vw;
}

.main-product-section {
    width: 30vw;
    margin-left: 20px;
    margin-right: 20px;
}

.product-purchase-window {
    display: flex;
    flex-direction: column;
    border: lightgrey thin solid;
    min-width: 200px;
}

.product-purcase-window button {
    min-width: 200px;
    height: 30px;
    border-radius: 50%;
}

.product-price {
    display: flex;
    font-size: 13px;
    flex-direction: row;
    align-items:flex-start;
}

.product-price-dollars {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}

.main-product-section ul {
    padding-left: 0;
}

.image-placeholder {
    width: 90%;
    // width: 200px;
    height: 200px;
    background-color: gray;
}

.product-description, .product-detail {
    margin-left: 20px;
}



