
.homepage {
    background-color: #d3d3d391;
}

.homepage-banner {
    /* position: absolute; */
    margin-bottom: -280px;
}

.homepage-banner img {
    height: auto;
    width: 100%;
    background-color: skyblue;
    -webkit-mask-image: linear-gradient(#000 40%, transparent);
}

.homepage-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    /* margin-top: -310px; */
    justify-content: center;
    position: relative;
    z-index: 2;
}

.homepage-list li {
    background-color: white;
    margin: 10px;
    width: 23vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.homepage-list img {
    margin: auto;
    height: 13vw;
    width: auto;

}