
.homepage {
    height: 100vh;
    background-color: lightgrey;
}

.homepage-banner {
    height: 300px;
    background-color: skyblue;
}

.homepage-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.homepage-list li {
    background-color: white;
    margin: 20px;
    width: 200px;
    height: 200px;
    border-color: red;
}