
.homepage {
    background-color: #d3d3d391;
}

.homepage-banner {
    /* position: absolute; */
    margin-bottom: -280px;
    display: flex;
}

.homepage-banner img {
    height: auto;
    width: 100%;
    min-width:100%;
    min-height: 30vh;
    background-color: skyblue;
    -webkit-mask-image: linear-gradient(#000 40%, transparent);
}

.carousel-button {
    position: absolute;
    width: 5vw;
    max-width: 400px;
    height:40vh;
    background-color: rgba(237, 16, 16, 0.006);
    z-index: 2;
    box-shadow: none;
    border:none
    /* float: right; */
}

.carousel-button:focus {
    border: solid teal;
}

.left {
    left: 0;
}
.right {
    right: 0;
}

.homepage-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    /* margin-top: -310px; */
    justify-content: center;
    position: relative;
    z-index: 2;
}

.homepage-list li {
    background-color: white;
    margin: 10px;
    width: 23vw;
    height: 400px;
    /* height: 50vh; */
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.homepage-list-quarters {
    display: flex;
    flex-wrap: wrap;
}

.homepage-box-quarters img {
    width:30%;
    height: auto;
    max-height: 40%;
    margin:3%;
}

.homepage-box-single img {
    margin: auto;
    height: 13vw;
    width: auto;

}
.homepage-list li h1 {
    font-size: 2.0vw;
}


.hover {
    cursor: pointer;
}

.banner-arrows {
    height: 30%;
    width: auto;
    color: grey;
    /* border: white solid; */
}

.homepage-box-quarters {
   /* object-fit: contain; */
}

.flex-center {
    display: flex;
    align-items: center;
}